[submodule "memtorch/submodules/pytorch-playground"]
	path = memtorch/submodules/pytorch-playground
	url = https://github.com/coreylammie/pytorch-playground
[submodule "memtorch/submodules/SST-Reproducibility"]
	path = memtorch/submodules/SST-Reproducibility
	url = https://github.com/coreylammie/SST-Reproducibility
